---
import Game from '../../components/tictactoe/Game.svelte';
---

<body>
  <h1>Tic Tac Toe</h1>
  <Game client:load />
</body>

<style>
  body {
    height: 100vh;
    align-content: center;

    h1 {
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
    }
  }
</style>
