body {
    margin: 0 auto;
    text-align: center;
}

/* --------------- Table Settings --------------- */

table {
    margin: 5px auto;
    border-collapse: collapse;
    width: 1200px;
}

td {
    border: solid black 1px;
}

thead td {
    font-size: 14px;
    padding: 4px 0;
}

td select, td input {
    border: none;
    font-size: 12px;
    text-align: center;
}

tbody td {
    padding: 4px 0;
    font-size: 12px;
}

/* Column one */

.results > td:nth-child(1), td select, thead > tr > td:nth-child(1) {
    width: 100px;
}

tbody > tr > td:nth-child(-n+2) {
    width: 50px;
}

/* Data Rows */

.bid, .end, .bonus {
    width: 44px;
    padding: 0;
}

.results > td:nth-last-child(-n+8) {
    width: 133px;
}