body {
    margin: 0 auto;
    text-align: center;
    display: block;
    min-width: 700px; /* Change this later? */
}

/* --------------- Factions Graph --------------- */

.graphs-div {
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

.graphs-div > h3 {
    font-size: 18px;
    margin: 2px auto;
}

.pie-chart {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    background-image: conic-gradient( 
        gray 360deg,  
        green 0,
        red 0,
        blue 0,
        yellow 0);
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

.donut-hole {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: white;
}

#faction-counters {
    display: flex;
    flex-direction: row;
    width: 100%;
    display: none;
}

#faction-counters > p {
    margin: 0 auto;
}

/* --------------- Processed Data --------------- */

.processed-data-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.graphs-div {
    width: 25%;
}

.data-calculations-div {
    width: 450px;
    border: solid 2px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.data-block {
    margin: 0;
    position: relative;
}

.data-block > h2 {
    font-size: 30px;
    margin: 0 auto;
}

.data-block > h3 {
    font-size: 14px;
    margin: 0 auto;
}

.tooltip {
    position: absolute;
    opacity: 0;
    background-color: peachpuff;
    padding: 3px 7px;
    text-align: center;
    border-radius: 6px;
    font-size: 12px;
    width: 80%;
    height: 40px;
    line-height: 20px;
    top: -10px;
}

.tooltip:hover {
    opacity: 1;
}

/* --------------- Options --------------- */

.options-div {
    display: flex;
    align-items: center;
}

.filters-div, .modifiers-div {
    margin: 5px;
    padding: 3px;
    border: 2px outset;
    background-color: lightgray;
}

.options-div label {
    font-size: 16px;
}

.options-div select {
    background-color: lightgray;
    border: 1px solid lightgray;
    font-size: 14px;
}

.options-div select:hover {
    border: 1px black solid;
}

/* --------------- Raw Data --------------- */

.raw-data-div {
    display: flex;
    width: 100%;
}

.raw-data {
    width: 100%;
    border-collapse: collapse;
}

.card-list-div {
    margin: 0 4px;
}

.card-list-div > * {
    margin: 0;
    border-width: 1px 2px;
    border-color: black;
    border-style: solid;
    height: 22px;
    width: 130px;
    padding: 0 2px;
    /* background-color: #F5F5F5; */
}

.table-spacer {
    font-weight: bold;
    border-top-width: 2px;
}

.card-dropdown {
    display: block;
    border-radius: 0;
}

td, th {
    height: 20px;
    border: 2px solid black;
    /* background-color: #F5F5F5; */
}

tbody > tr {
    color: lightgray;
}

tr.r1, tr.r2, tr.r3, tr.r4, tr.r5, tr.r6, tr.r7, tr.r8, tr.r9, tr.r10 {
    color: black;
}