---
import EvaIcon from './base/EvaIcon.astro';
---

<div class="social-links">
  <a href="https://www.linkedin.com/in/alexander-dombroski/" target="_blank">
    <span class="sr-only">Follow Alex on LinkedIn</span>
    <EvaIcon icon="linkedin" />
  </a>
  <a href="https://github.com/alexanderdombroski/" target="_blank">
    <span class="sr-only">Go to Alex's GitHub repo</span>
    <EvaIcon icon="github" />
  </a>
</div>

<style>
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
